*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navmid {
    display: flex;
 position: static;
    width: 100%;
    padding: 1rem 3rem;
    font-size: 1.2rem;
background-color:#00a6fb ;
color: rgb(255, 255, 255);
font-family: 'dosis';
font-weight: bolder;
}
#nav {
    display: flex;
 position: static;
    width: 100%;
    padding: 1rem 3rem;
    font-size: 1.2rem;
background-color:#00a6fb ;
color: rgb(255, 255, 255);
font-family: 'dosis';
font-weight: bolder;
justify-content: flex-end;
}
#nav ul{
    display: flex;    
}
#nav ul li{
    list-style: none; 
}
#nav ul li a{
    text-decoration: none;
    color: aliceblue;
    margin-right: 2rem;
}
#login button{
    padding: 0.4rem 1rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    color: #00a6fb;
    font-family: 'dosis';
font-weight: bolder;
}
#login{
    margin-left: 19rem;
}
.img {display: none;}

img {vertical-align: middle;
}


.home-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
#home{
  background-color: #ffffff;
}
