* {
  font-family: "dosis";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #00a6fb;
  --secondary-color: #074a89;
}

#nav {
    display: flex;
 position: static;
    width: 100%;
    padding: 1rem 3rem;
    font-size: 1.6rem;
    background-color: white ;
color: rgb(255, 255, 255);
font-family: 'dosis';
font-weight: bolder;
justify-content: space-between;
align-items: center;
}

.logo img{
  width: 12rem;
}
#nav ul{
    display: flex;    
}
#nav ul li{
    list-style: none; 
}
#nav ul li a{
    text-decoration: none;
    color:var(--secondary-color);
    margin-right: 2rem;
}
#login button{
    padding: 0.4rem 1rem;
  color: #ffffff;
    border-radius: 0.5rem;
    background-color: var(--secondary-color);
  font-family: 'dosis';
font-weight: bolder;
font-size: 1.2rem;
border: 1px solid var(--secondary-color);
}
#login{
    /* margin-left: 19rem; */
}
.img {display: none;}


.home-container img {
  width: 99vw;
  height: 60vh;
 }


.home-container {
  width: 100%;
  position: relative;
  margin: auto;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bccfe1;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #114e87d8;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

/* categories */
.category_container{
  margin: 2rem 0 4rem 0;
}
.title {
  color: var(--secondary-color);
  font-size: 2.5rem;
  padding: .7rem;
  padding-bottom: 0.2rem;
  margin: 1rem 0;
  /* border-bottom: 1px solid var(--secondary-color); */

}

.category {
  display: flex;
  justify-content: space-around;
  margin-left: 1.7rem;
  margin-right: 1.7rem;
  margin-top: 1rem;
  font-size: 1.8rem;

  /* border-bottom: 1px solid var(--primary-color); */
}
.icon{
  text-decoration: none;
}
.icon h5{
  /* text-decoration: none; */
  color: var(--secondary-color);
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(250, 249, 249);
  box-shadow: 0rem 0rem .2rem 0rem #559cc0;
  height: 9.5rem;
  width: 8.5rem;
  padding: .5rem .5rem .8rem .5rem;
  /* box-sizing: content-box; */
}



#railways {
  background-color: rgb(214, 213, 250);
  /* margin: 0.3rem; */
  height: 6rem;
  width: 6rem;
  margin: 0.5rem;
  background-image: url(../images/bluetrain.png);
  background-repeat: no-repeat;
  background-size: 4rem;
  background-position-x: center;
  background-position-y: center;

}

#railways:hover {
  background-image: url(../images/whitetrain.png);
  background-color: #364eac;
  
  
}




#rail_box:hover{
  border: 2px solid #364eac;
  box-shadow: none;
}

#bank {
  background-color: #f1caca;
  /* margin: 0.3rem; */
  height: 6rem;
  width: 6rem;
  margin: 0.5rem;
  background-image: url(../images/bank_color.png);
  background-repeat: no-repeat;
  background-size: 4rem;
  background-position-x: center;
  background-position-y: center;

}

#bank:hover {
  background-image: url(../images/bank_white.png);
  background-color: #cd3d3d;
}


#bank_box:hover{
  border: 2px solid #cd3d3d;
  box-shadow: none;

}

#defence {
  background-color: #e8e1c0;
  /* margin: 0.3rem; */
  height: 6rem;
  width: 6rem;
  margin: 0.5rem;
  background-image: url(../images/defence_color.png);
  background-repeat: no-repeat;
  background-size: 4rem;
  background-position-x: center;
  background-position-y: center;

}

#defence:hover {
  background-image: url(../images/defence_white.png);
  background-color: #EAC506;
}



#defence_box:hover{
  border: 2px solid #EAC506;
  box-shadow: none;
}

#ssc {
  background-color: #eeccd8;
  /* margin: 0.3rem; */
  height: 6rem;
  width: 6rem;
  margin: 0.5rem;
  background-image: url(../images/ssc_color.png);
  background-repeat: no-repeat;
  background-size: 4rem;
  background-position-x: center;
  background-position-y: center;

}

#ssc:hover {
  background-image: url(../images/ssc_white.png);
  background-color: #B92B5C;
}


#ssc_box:hover{
  border: 2px solid #B92B5C;
  box-shadow: none;

}

#upsc {
  background-color: #fbeedc;
  /* margin: 0.3rem; */
  height: 6rem;
  width: 6rem;
  margin: 0.5rem;
  background-image: url(../images/upsc_color.png);
  background-repeat: no-repeat;
  background-size: 4rem;
  background-position-x: center;
  background-position-y: center;

}

#upsc:hover {
  background-image: url(../images/upsc_white.png);
  background-color: #EFAA40;
}


#upsc_box:hover{
  border: 2px solid #EFAA40;
  box-shadow: none;

}

#teaching {
  background-color: rgb(213, 240, 241);
  /* margin: 0.3rem; */
  height: 6rem;
  width: 6rem;
  margin: 0.5rem;
  background-image: url(../images/teacher_color.png);
  background-repeat: no-repeat;
  background-size: 4rem;
  background-position-x: center;
  background-position-y: center;

}

#teaching:hover {
  background-image: url(../images/teacher_white.png);
  background-color: #52B0B7;
}



#teaching_box:hover{
  border: 2px solid #52B0B7;
  box-shadow: none;

}

#doctor {
  background-color: rgb(210, 199, 237);
  /* margin: 0.3rem; */
  height: 6rem;
  width: 6rem;
  margin: 0.5rem;
  background-image: url(../images/doctor_color.png);
  background-repeat: no-repeat;
  background-size: 4rem;
  background-position-x: center;
  background-position-y: center;

}

#doctor:hover {
  background-image: url(../images/doctor_white.png);
  background-color: #460DD9;
}



#medical_box:hover{
  border: 2px solid #460DD9;
  box-shadow: none;

}

#research {
  background-color: #edcbd3;
  /* margin: 0.3rem; */
  height: 6rem;
  width: 6rem;
  margin: 0.5rem;
  background-image: url(../images/research_color.png);
  background-repeat: no-repeat;
  background-size: 4rem;
  background-position-x: center;
  background-position-y: center;

}

#research:hover {
  background-image: url(../images/research_white.png);
  background-color: #E1335A;
}



#research_box:hover{
  border: 2px solid #E1335A;
  box-shadow: none;

}



/* about us */
#aboutUs_container {
  margin: 2rem 0;
  display: flex;
  width: 100%;
  background-color: rgb(241, 241, 241);
}
#aboutUsimg {
  width: 36%;
}
#aboutUsimg img {
  width: 100%;
  height: 100%;
}
#aboutUs {
  width: 64%;
  display: flex;
  flex-direction: column;
}
#aboutUs h3 {
  font-size: 2.8rem;
  font-weight: 500;
  margin: 1.5rem auto;
}
#aboutUs span {
  color: var(--secondary-color);
}
#about_boxs {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}
.about_box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.7rem;
  padding: 0.7rem;
  width: 45%;
  height: 48%;
}
.about_box img {
  width: 20%;
  border-radius: 50%;
  margin: 0.7rem;
}
.about_box h4{
  font-size: 1.2rem;
  color: var(--secondary-color);
}
footer{
  width: 100%;
  background-color: var(--primary-color);
}
.copyright {
  color: white;
  padding: 0.3rem;
  font-size: 1.1rem;
  border: 1px solid white;
}
.center{
  text-align: center;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

