* {
    margin: 0rem;
    padding: 0rem;
    font-family: 'dosis';

}

:root {
    --primary-color: #00a6fb;
    --secondary-color: #1c5d99;
}

.heading {
    text-align: center;
    color: var(--secondary-color);
    font-size: 2rem;
    padding: .7rem;
    padding-bottom: 0.2rem;
    margin-bottom: .2rem;
    font-family: 'dosis';

}

table {
    border: .15rem solid var(--secondary-color);
    margin: 1rem;
    height: 10rem;
    width: 77rem;
    text-align: center;
}

th {
    background-color: var(--primary-color);
    color: white;
    height: 2rem;
}

tr {
    height: 2rem;
    color: var(--secondary-color);
    font-weight: bold;
}