* {
    margin: 0rem;
    padding: 0rem;
    font-family: 'dosis';

}

:root {
    --primary-color: #00a6fb;
    --secondary-color: #1c5d99;
}
body{
    background-image: url(/images/background_img2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.heading {
    text-align: center;
    color: var(--secondary-color);
    font-size: 2.5rem;
    padding: .7rem;
    padding-bottom: 0.2rem;
    margin-bottom: 3.8rem;
    font-family: 'dosis';

}

table {
    border: .15rem solid var(--secondary-color);
    /* margin: 1rem; */
    margin: auto;
    height: 20rem;
    width: 77rem;
    text-align: center;
}

th {
    background-color: var(--primary-color);
    color: white;
    height: 2rem;
}
.table tr:nth-child(even){
   background-color: #4395e12a;
}

tr {
    height: 2rem;
    color: var(--secondary-color);
    font-weight: bold;
}